
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Mantenimiento</h2>
        <a href="/Home/Index" class="btn btn-primary">Ir a Mantenimiento</a>
        @*<br>*@
    </div>
    <div class="col-md-4">
        <h2>Procesos</h2>
        <a href="/Home/Proceso" class="btn btn-primary">Ir a Procesos</a>
        @*<br>*@
    </div>

    <div class="col-md">
        <h2>Informes</h2>
        <a href="/Home/Informes" class="btn btn-primary">Ir a informes</a>
    </div>
</div>